resources/token.json
node_modules/
package-lock.json

*.class

*.jar
*.war
*.ear

.gradle
/build/

gradle-app.setting
!gradle-wrapper.jar

.gradletasknamecache

.idea

src/main/resources/token.txt

out/
